p{
font-family:"trebuchet ms"; /* famille de police "trebuchet ms" */
font-size:22px;/* taille de police de 22 pixels */
color:#252525;/* couleur de police noir (#252525=noir) */
text-align:center; /* aligner le texte à gauche */
margin-bottom:20px; /* ajouter une marge sous le texte de 20 pixels */
}